SECRET_KEY=votre-secret-key-django-tres-longue-et-aleatoire
DEBUG=False
ALLOWED_HOSTS=votre-app.pythonanywhere.com,localhost

# PostgreSQL — format: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql://mmotors_user:motdepasse@votre-host.postgres.com:5432/mmotors_db
DATABASE_SSL=True

# CORS — URL de votre frontend Netlify
CORS_ALLOWED_ORIGINS=https://votre-app.netlify.app,http://localhost:3000
